/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #333 !important;
}

.pointer {
  cursor: pointer;
}

.mat-mdc-dialog-title {
  border-bottom: 1px solid #ddd !important;
  margin-bottom: 2rem !important;
  box-shadow: 0px 0px 2px #ddd !important;
  background: #094bac !important;
  color: #fff !important;
}

.mat-mdc-dialog-actions {
  padding: 16px !important;
  margin-top: 2rem !important;
  background: #f9f9f9 !important;
  border-top: 1px solid #ccc !important;
}

.alt-font {
  font-family: 'Actor', sans-serif;
}