<div class="container">
  <h1>Order # <span class="text-primary fw-bold">{{ order?.id }} </span></h1>
  <hr>

  <div class="row">
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-4">Order Number</div>
        <div class="col-md-8">{{ order?.id }}</div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">Customer</div>
        <div class="col-md-8">{{ order?.customerFullName }}</div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">Order Time</div>
        <div class="col-md-8">{{ order?.date | date:'medium' }}</div>
      </div>

    </div>
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-4">Order Status</div>
        <div class="col-md-8">

          <ng-container *ngIf="order?.orderStatus == orderStatusEnum.Pending; else elseTemplate">
            <span class="text-warning">Pending</span>
          </ng-container>
          <ng-template #elseTemplate>
            <span class="text-success">Completed</span>
          </ng-template>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">Payment Method</div>
        <div class="col-md-8">
          <div [ngSwitch]="order?.paymentMethod">
            <div *ngSwitchCase=" paymentMethodEnum.Cash">
              <i class="fa-solid fa-dollar-sign" matTooltip="Cash"></i>
            </div>
            <div *ngSwitchCase="paymentMethodEnum.Credit">
              <i class="fa-solid fa-credit-card" matTooltip="Credit"></i>
            </div>
            <div *ngSwitchCase="paymentMethodEnum.PayPal">
              <i class="fa-brands fa-paypal" matTooltip="PayPal"></i>
            </div>
            <div *ngSwitchCase="paymentMethodEnum.CryptoCurrency">
              <i class="fa-brands fa-bitcoin" matTooltip="CryptoCurrency"></i>
            </div>
            <div *ngSwitchDefault>
              ERROR
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-4">Total Price</div>
        <div class="col-md-8">
          <span class="text-danger fw-bold">{{ order?.totalPrice | currency }}</span>
        </div>
      </div>

    </div>
  </div>

  <hr class="mt-5">
  <h2 class="mt-4">Products</h2>

  <table mat-table [dataSource]="order.products">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="subPrice">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.subPrice | currency}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div class="mt-5">
    <button mat-raised-button color="accent" [routerLink]="['/orders']">Back</button>
    <button class="ms-2" mat-raised-button color="primary" [routerLink]="['/edit', orderId]">Edit</button>
  </div>
</div>