<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffffff" type="line-scale" [fullScreen]="true">
  <p class="fs-3 text-white">Please wait ... waking up the monsters of City Center</p>
</ngx-spinner>

<div class="container">
  <h1>Customers</h1>
  <hr>
  <button mat-raised-button color="primary" [routerLink]="['create']">Create a New Customer</button>
  <hr>

  <table mat-table [dataSource]="customerDS">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">

        <a [routerLink]="['/customers/details', element.id]">
          <mat-icon class="text-info" aria-hidden="false" aria-label="details" fontIcon="info"></mat-icon>
        </a>

        <a class="ms-2" [routerLink]="['/customers/edit', element.id]">
          <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit"></mat-icon>
        </a>
        <a class="ms-2 pointer" (click)="openDeleteDialog(element)">
          <mat-icon color="warn" aria-hidden="false" aria-label="edit" fontIcon="delete"></mat-icon>
        </a>

        <!-- TO DO add Customer Card Icon -->

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>