<div class="container">

  <h1>Customer <span class="text-primary fw-bold">{{ customer?.fullName }}</span></h1>

  <hr>

  <div class="row">
    <div class="col-md-3">Name</div>
    <div class="col-md-2 fw-bold">{{ customer?.fullName }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">Age</div>
    <div class="col-md-2 fw-bold">{{ customer?.age }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">Phone Number</div>
    <div class="col-md-2 fw-bold">{{ customer?.phoneNumber }}</div>
  </div>

  <hr>
  <h2>Orders</h2>
  <!-- TODO orders table -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>