<div class="container">
  <h1>
    <ng-container *ngIf="pageMode == pageModeEnum.Create; else elsePageTitleTemplate">
      Create a Product Type
    </ng-container>
    <ng-template #elsePageTitleTemplate>
      Edit <span class="text-primary">{{ productType?.name }}</span>
    </ng-template>
  </h1>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline">
      <mat-label>Product Type Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-error>Product Type is required</mat-error>
    </mat-form-field>

    <div class="mt-2">

      <button type="button" mat-raised-button color="basic" [routerLink]="['/productTypes']">Cancel</button>

      <button type="submit" class="ms-2" mat-raised-button color="primary">
        <ng-container *ngIf="pageMode === pageModeEnum.Create; else elseSubmitButtonTemplate">
          Create
        </ng-container>
        <ng-template #elseSubmitButtonTemplate>
          Save
        </ng-template>
      </button>
    </div>


  </form>

</div>