<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffffff" type="line-scale" [fullScreen]="true">
  <p class="fs-3 text-white">Please wait ... waking up the monsters of City Center</p>
</ngx-spinner>


<div class="container">
  <h1>Products</h1>
  <hr>
  <button mat-raised-button color="primary" [routerLink]="['/products/create']">Add new Product</button>
  <hr>

  <div class="row">

    <div class="col-xl-3 mb-3" *ngFor="let product of products">
      <div class="card h-100">
        <img src="https://picsum.photos/600/400" class="card-img-top border-bottom" [alt]="product.name">
        <div class="card-body mb-3">
          <a [routerLink]="['/products/details', product.id]" class="fs-5 alt-font text-decoration-none">{{ product.name
            }}</a>

          <div *ngIf="product.isInStock == false">
            <div class="text-muted mt-3">Out of Stock</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <div class="buttons">
              <a [routerLink]="['/products/edit', product.id]">
                <mat-icon aria-hidden="false" aria-label="edit" fontIcon="edit"></mat-icon>
              </a>
              <a class="ms-2 pointer" (click)="openDeleteDialog(product)">
                <mat-icon color="warn" aria-hidden="false" aria-label="edit" fontIcon="delete"></mat-icon>
              </a>
            </div>
            <div class="text-end fw-bold fs-6">{{ product.price | currency }}</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>